<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add runner</title>
  </head>
  <body>
    <form action="/add_runner" method="post">
      <div class="fields" id="fields">
        <span>New Record ID: </span>
        <input type="text" name="id" value="{{newId}}" readonly>
        <input type="text" placeholder="Runner's Name" name="name">
        <input type="text" placeholder="Sponsor" name="sponsor">
        <input type="text" placeholder="Division" name="division">
      </div>
      <div class="footer">
        <button>Save Senator</button>
      </div>
    </form>
hello
  </body>
</html>
