<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{runner.name}}</title>
  </head>
  <body>
    <a href="/">Home</a>
    {{#runner}}
    <h1>{{name}}</h1>
    <p>Division: {{division}}</p>
    <p>Sponsor: {{sponsor}}</p>
    {{/runner}}

  </body>
</html>
